* {
    margin: 0;
    padding: 0;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}


h1 {
    text-align: center;
    color: rgb(160, 119, 243);
}

body {
    background-image: url(img/totoro-totoro.jpg) ;
    background-size: 69%;
}

span {
    color: rgb(74, 0, 143);
}

h2{
    color: rgba(7, 97, 7, 0.753);
}

h4 {
    color: rgb(250, 25, 25);
    font-size: 30px;
    margin-bottom: 10px;
}

button {
width: 140px;
padding: 10px;
border: none;
border-radius: 4px;
background-color: rgba(189, 32, 32, 0.884);
color: white;
font-size: 16px;
cursor: pointer;
margin-top: 15px;
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.titulo {
    padding: 20px;
    text-align: start;
}



.gato a {
    text-align: end;
    font-size: 30px;
    text-decoration: underline;
}

.gato a:hover {
    text-decoration: none;
}



.gato {
    text-align: end;
    font-size: 30px;
    text-decoration: underline;
}

.gato:hover {
    text-decoration: none;
}

p {
    color: rgb(247, 14, 227);
}



.icon a {
    color: rgb(245, 49, 219);
    margin-right: 10px;
    text-decoration: none;
}

.icon a:hover {
    text-decoration: underline
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(216, 188, 137);
}

.github {
    border-radius: 50%;
}

.perfil{
    width: 200px;
    height: 250px;
    border-radius: 50%;
    margin-left: 70px;
}

.formulario{
    margin-top: 20px;
}

.sobre-mi a {
    text-align: start;
    text-decoration: none;
    color: #166659;
}
.sobre-mi{
    margin-top: 78px;
}

.sobre-mi a:hover{
    text-decoration: underline;
    color: black;
}

.totoro{
    position: absolute;
    width: 500px;
}

.mio{
    color: #166659;
    font-size: 25px;
    background-color: rgba(245, 222, 179, 0);
}

.sobremi{
    display: flex;
}

.footer{
    background-color: silver;
    color: black;
    margin-top: 190px;
}

.container{
    color: black;
}